/* ======== My styles start here ======== */

html {
  min-height: 100vh;
}

body {
  background-color: #6ea6a8;
  background-image: url("../img/SleepySkelly_dithered.png");
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: "Courier", monospace;
  overflow: hidden; /* Hide scrollbars */
  min-height: 100vh;
}

body,
p,
div {
  font-family: monospace;
  scrollbar-color: #9f66ca #f6ab6c;
}

.off {
  display: none;
}
.clear {
  width: 100%;
  clear: both;
  display: block;
}
.col-half {
  width: 50%;
  float: left;
}
.ascii {
  white-space: pre;
  line-height: 14px;
}
.flippedx {
  transform: scaleX(-1);
}
.flippedy {
  transform: scaleY(-1);
}
.flippedboth {
  transform: scaleY(-1) scaleX(-1);
}

img.inline {
  float: left;
  width: 200px;
  margin-right: 1em;
  border: 1px solid #4f4e83;
}
